:root {
  --yellow--color: #ffcb28;
  --red--color: #c33024;
  --dark--blue--color: #001d3d;
  --dark--gray--color: #1c1c1c;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

@font-face {
  font-family: MonumentExtendedBold;
  src: url("/fonts/MonumentExtended-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
}
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}
p,
a {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: MonumentExtendedBold;
}
h1 {
  font-size: 84px;
  line-height: 125px;
  color: var(--yellow--color);
}
p {
  font-size: 24px;
  line-height: 36px;
}

a {
  font-size: 20px;
  line-height: 30px;
}
.yellow--text {
  color: var(--yellow--color);
}
.container {
  padding: 0 315px;
}
nav {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav--col-2 {
  display: flex;
}
.nav--col-2 li {
  margin-right: 48px;
}
.nav--col-2 li:last-child {
  margin-right: 0;
}

.nav--col-2 li a {
  font-size: 16px;
  line-height: 24px;
  font-family: MonumentExtendedBold;
}

.nav--col-2 li a.active {
  color: var(--yellow--color);
  position: relative;
  padding-bottom: 10px;
}

.nav--col-2 li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 130%;
  height: 5px;
  background: var(--yellow--color);
}

/* Footer */

footer {
  background: var(--dark--gray--color);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer ul {
  display: flex;
}
footer ul li {
  margin-right: 40px;
}
footer ul li:last-child {
  margin-right: 0;
}
footer ul a {
  font-size: 14px;
}
footer p {
  font-size: 12px;
}

@media screen and (max-width: 1140px) {
  footer ul li {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    padding: 0 75px;
  }
}
@media screen and (max-width: 1024px) {
  footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  footer ul {
    flex-direction: column;
    align-items: flex-end;
  }
  footer ul li {
    margin-right: 0;
  }
  .footer__rights {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    justify-content: center;
    margin-top: 40px;
  }
}
@media screen and (max-width: 830px) {
  .nav--col-2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0 10px;
  }
}
