@import url("/styles/general.css");

.hero--section {
  background-image: url("/images/hero--background.png");
  height: 100vh;
  width: 100%;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero--section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero--section p {
  width: 850px;
}
.learn--more--button {
  background: var(--red--color);
  border-radius: 8px;
  padding: 12px 0;
  width: 220px;
  text-align: center;
  margin-top: 30px;
}
@media screen and (max-width: 1525px) {
  .hero--section .container,
  nav .container {
    padding: 0 270px;
  }
}
@media screen and (max-width: 1440px) {
  .hero--section {
    background-image: url("/images/hero--background__1440px.png");
  }
  .hero--section p {
    width: 960px;
  }
  .hero--section .container,
  nav .container {
    padding: 0 75px;
  }
  .learn--more--button {
    font-size: 26px;
    background: transparent;
    color: var(--red--color);
    text-decoration: underline;
    padding: 0;
    text-align: left;
    width: auto;
  }
}

@media screen and (max-width: 1045px) {
  h1 {
    font-size: 70px;
    line-height: 90px;
    margin-bottom: 20px;
  }
  .hero--section p {
    width: 100%;
  }
  .hero--section .container,
  nav .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero--section {
    background-image: url("/images/hero--background__768px.png");
  }
  h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .hero--section p {
    font-size: 20px;
    line-height: 26px;
  }
  .learn--more--button {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .hero--section {
    background-image: url("/images/hero--background__360px.png");
  }
  .hero--section .container,
  nav .container {
    padding: 0 10px;
  }
  h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .hero--section p {
    font-size: 14px;
    line-height: 20px;
  }
  .learn--more--button {
    font-size: 14px;
    line-height: 20px;
  }
}
