@import url("/styles/general.css");

main {
  padding: 180px 0;
  background: var(--dark--blue--color);
}

main h1 {
  margin-bottom: 50px;
  font-size: 39px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

main p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
@media screen and (max-width: 425px) {
  main {
    padding: 130px 0;
  }
  main h1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  main p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }
}
